h1{
    color:blue; background-color: aquamarine;
}

/* article > p{
    font-size: 20px;
} */

.article_p{
    font-size: 3rem;
}

.article_p2{
    font-size: 4rem;
    color: blueviolet;
}

#footer_p{
    color: yellow;
    background-color: black;
}

ul{
    color: brown;
    font-size: 2rem;
}

li:nth-child(2){
    background-color: bisque;
}

#man_standing{
    max-width: 100vw;
    max-height: 75vh;
}

#man_in_air{
    max-width: 100vw;
    max-height: 25vh;
}
